/* General App Container */
.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 40px auto;
  padding: 30px 0px;
  border-radius: 8px;
  background-color: #f4f4f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reg-button{
  text-decoration: none;
  color: #4CAF50;
}
/* Header */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

/* Login Buttons Container */
.login-buttons {
  margin-top: 20px;
}

/* Button Styling */
.login-btn {
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  margin: 10px;
  transition: background-color 0.3s ease;
}

/* Hover Effect for Buttons */
.login-btn:hover {
  background-color: #45a049;
}

/* Login Form Styling */
.login-form {
  margin-top: 20px;
}

.login-form input {
  padding: 10px;
  margin: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

.login-form button:hover {
  background-color: #45a049;
}

/* Container for Reset Password */
.reset-container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 3px 35px;
  padding: 5px 20px;
  border-radius: 8px;
  background-color: #f4f4f9;
  width: 350px;
}

/* Heading */
.reset-title {
  color: #333;
  font-size: 22px;
  margin-bottom: 15px;
}

/* Input Fields */
.reset-input {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Button Styling */
.reset-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 85%;
}

.reset-button:hover {
  background-color: #45a049;
}
