.link-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
.form-group{
    text-align: center;
}
  .secondary-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background: #4CAF50;
    text-decoration: none;/* General App Container */
    .app-container {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 40px auto;
        padding: 30px 0px;
        border-radius: 8px;
        background-color: #f4f4f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .reg-button{
        text-decoration: none;
        color: #4CAF50;
      }
      /* Header */
      h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 15px;
      }
      
      /* Login Buttons Container */
      .login-buttons {
        margin-top: 20px;
      }
      
      /* Button Styling */
      .login-btn {
        padding: 15px 30px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        margin: 10px;
        transition: background-color 0.3s ease;
      }
      
      /* Hover Effect for Buttons */
      .login-btn:hover {
        background-color: #45a049;
      }
      
      /* Login Form Styling */
      .login-form {
        margin-top: 20px;
      }
      
      .login-form input {
        padding: 10px;
        margin: 10px;
        width: 60%;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      .login-form button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 50%;
      }
      
      .login-form button:hover {
        background-color: #45a049;
      }
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  .secondary-link:hover {
    background: #2d572c;
    transform: scale(1.05);
  }
  .primary-button {
    display: block; /* Makes the button take up the full width of its container */
    margin: 20px auto; /* Centers the button horizontally */
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background: #141E30;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease, transform 0.2s ease;
}

.primary-button:hover {
    background: #243B55;
    transform: scale(1.05);
}